doctype html 
html
  head
    title Pug
    style
      include ./style.css 
  body
    section.featured-content
      .feature
        .feature-inner
          .feature-copy
            h2.feature-headline Arc Rae - The Artist, The Creator, The Musician
            h3.feature-subheadline Sacred Ground, New York, NY
            p.feature-text <a href="#">Pre-order</a> the new cassette. Orders this Tuesday.
          .feature-image-container
            img.feature-image(src="https://picsum.photos/id/236/200/300.webp" alt="Arc Rae cassette tape")
      .feature
        .feature-inner
          .feature-copy
            h2.feature-headline Gemini Horror (feat. The Weeknd)
            h3.feature-subheadline Four Birds in a Cage, Los Angeles, CA
            p.feature-text Limited edition cassette <a href="#">available now</a>.
          .feature-image-container
            img.feature-image(src="https://picsum.photos/id/57/200/300.webp" alt="Gemini Horror cassette tape")
      .feature
        .feature-inner
          .feature-copy
            h2.feature-headline Artist Spotlight: Arc Rae
            h3.feature-subheadline Dissolve in Sepia Tone (feat. Sia)
            p.feature-text Dissolve In Sepia is the alias of Brazilian composer and producer Ramon Fassina. Get to know the artist behind the work. <a href="#">Read on &rarr;</a>
          .feature-image-container
            img.feature-image(src="https://picsum.photos/id/58/200/300.webp" alt="Gemini Horror cassette tape")
      .feature
        .feature-inner
          .feature-copy
            h2.feature-headline Arc Rae #1
            h3.feature-subheadline Sacred Ground
            p.feature-text <a href="#">Pre-order</a> the new cassette. Orders ship this Tuesday.
          .feature-image-container
            img.feature-image(src="https://picsum.photos/id/50/200/300.webp" alt="Arc Rae cassette tape")
      .feature
        .feature-inner
          .feature-copy
            h2.feature-headline Gemini Horror 
            h3.feature-subheadline Four Birds
            p.feature-text Limited edition cassette <a href="#">available now</a>.
          .feature-image-container
            img.feature-image(src="https://picsum.photos/id/59/200/300.webp" alt="Gemini Horror cassette tape")
      .feature
        .feature-inner
          .feature-copy
            h2.feature-headline Artist Spotlight:
            h3.feature-subheadline Dissolve in Sepia
            p.feature-text Dissolve In Sepia is the alias of Brazilian composer and producer Ramon Fassina. Get to know the artist behind the work. <a href="#">Read on &rarr;</a>
          .feature-image-container
            img.feature-image(src="https://picsum.photos/id/52/200/300.webp" alt="Gemini Horror cassette tape")
  script
    include ./script.js
